<div>
  <div>
    <h1>
      List of all brews
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new brew
    </h2>

    <form action="/insert_brew" method="post">
      <div>
        <label for="bean_id_box">
          Bean
        </label>

        <input type="text" id="bean_id_box" name="query_bean_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="device_id_box">
          Device
        </label>

        <input type="text" id="device_id_box" name="query_device_id">
      </div>

      <div>
        <label for="grind_setting_box">
          Grind setting
        </label>

        <input type="text" id="grind_setting_box" name="query_grind_setting">
      </div>

      <div>
        <label for="flavors_box">
          Flavors
        </label>

        <input type="text" id="flavors_box" name="query_flavors">
      </div>

      <div>
        <label for="grinder_box">
          Grinder
        </label>

        <input type="text" id="grinder_box" name="query_grinder">
      </div>

      <div>
        <label for="water_temp_box">
          Water temp
        </label>

        <input type="text" id="water_temp_box" name="query_water_temp">
      </div>

      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments">
      </div>

      <div>
        <label for="instructions_id_box">
          Instructions
        </label>

        <input type="text" id="instructions_id_box" name="query_instructions_id">
      </div>

      <button>
        Create brew
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bean
        </th>

        <th>
          User
        </th>

        <th>
          Device
        </th>

        <th>
          Grind setting
        </th>

        <th>
          Flavors
        </th>

        <th>
          Grinder
        </th>

        <th>
          Water temp
        </th>

        <th>
          Comments
        </th>

        <th>
          Instructions
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_brews.each do |a_brew| %>
      <tr>
        <td>
          <%= a_brew.id %>
        </td>

        <td>
          <%= a_brew.bean_id %>
        </td>

        <td>
          <%= a_brew.user_id %>
        </td>

        <td>
          <%= a_brew.device_id %>
        </td>

        <td>
          <%= a_brew.grind_setting %>
        </td>

        <td>
          <%= a_brew.flavors %>
        </td>

        <td>
          <%= a_brew.grinder %>
        </td>

        <td>
          <%= a_brew.water_temp %>
        </td>

        <td>
          <%= a_brew.comments %>
        </td>

        <td>
          <%= a_brew.instructions_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_brew.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_brew.updated_at) %> ago
        </td>

        <td>
          <a href="/brews/<%= a_brew.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
