<div>
  <div>
    <h1 class="display-4">
      Brew on <%= @the_brew.created_at.strftime("%B %eth, %Y") %>
    </h1>

    <div>
      <div>
        <a href="/brews">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_brew/<%= @the_brew.id %>">
          Delete brew
        </a>
      </div>
    </div>
  </div>
</div>

<hr>

<h4 class="mb-3">Setup</h4>
<div>
  <ul class="list-group">
    <li class="list-group-item"><span class="font-weight-bolder">Brew Method </span><%=@the_brew.device.device%></li>
    <li class="list-group-item"><span class="font-weight-bolder">Bean </span><%=@the_brew.bean.name%></li>
    <li class="list-group-item"><span class="font-weight-bolder">Roaster </span><%=@the_brew.bean.roaster.name%></li>
    <li class="list-group-item"><span class="font-weight-bolder">Grinder (setting) </span><%=@the_brew.grinder + " (" + @the_brew.grind_setting.to_s + ")" %></li>
    <li class="list-group-item"><span class="font-weight-bolder">Water Temp </span><%=@the_brew.water_temp%></li>
    <li class="list-group-item"><span class="font-weight-bolder">Flavor Notes </span><%=@the_brew.flavors%></li>
    <li class="list-group-item"><span class="font-weight-bolder">Comments </span><%=@the_brew.comments%></li>
  </ul>
</div>
<hr>
<h4 class="mb-3">Recipe</h4>
<div class="container">
  <% Instruction.where({:brew_id => @the_brew.id}).each do |a_step| %>
    <div class="row">
      <h5 class="m-sm-1">Step <%=a_step.step_num%></h5>
      <form class="form-inline">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text font-weight-bolder">Action</span>
          </div>
          <input class="form-control" value="<%=a_step.action%>" readonly>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text font-weight-bolder">End Weight (g)</span>
          </div>
          <input class="form-control" value="<%=a_step.weight%>" readonly>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text font-weight-bolder">End Time (s)</span>
          </div>
          <input class="form-control" value="<%=a_step.time%>" readonly>
        </div>
      </form>
    </div>
  <% end %>
</div>