<div>
  <div>
    <h1>
      Instruction #<%= @the_instruction.id %> details
    </h1>

    <div>
      <div>
        <a href="/instructions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_instruction/<%= @the_instruction.id %>">
          Delete instruction
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Step 1 action
      </dt>
      <dd>
        <%= @the_instruction.step_1_action %>
      </dd>

      <dt>
        Step 1 weight
      </dt>
      <dd>
        <%= @the_instruction.step_1_weight %>
      </dd>

      <dt>
        Step 1 time
      </dt>
      <dd>
        <%= @the_instruction.step_1_time %>
      </dd>

      <dt>
        Step 2 action
      </dt>
      <dd>
        <%= @the_instruction.step_2_action %>
      </dd>

      <dt>
        Step 2 weight
      </dt>
      <dd>
        <%= @the_instruction.step_2_weight %>
      </dd>

      <dt>
        Step 2 time
      </dt>
      <dd>
        <%= @the_instruction.step_2_time %>
      </dd>

      <dt>
        Step 3 action
      </dt>
      <dd>
        <%= @the_instruction.step_3_action %>
      </dd>

      <dt>
        Step 3 weight
      </dt>
      <dd>
        <%= @the_instruction.step_3_weight %>
      </dd>

      <dt>
        Step 3 time
      </dt>
      <dd>
        <%= @the_instruction.step_3_time %>
      </dd>

      <dt>
        Step 4 action
      </dt>
      <dd>
        <%= @the_instruction.step_4_action %>
      </dd>

      <dt>
        Step 4 weight
      </dt>
      <dd>
        <%= @the_instruction.step_4_weight %>
      </dd>

      <dt>
        Step 4 time
      </dt>
      <dd>
        <%= @the_instruction.step_4_time %>
      </dd>

      <dt>
        Step 5 action
      </dt>
      <dd>
        <%= @the_instruction.step_5_action %>
      </dd>

      <dt>
        Step 5 weight
      </dt>
      <dd>
        <%= @the_instruction.step_5_weight %>
      </dd>

      <dt>
        Step 5 time
      </dt>
      <dd>
        <%= @the_instruction.step_5_time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_instruction.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_instruction.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit instruction
    </h2>

    <form action="/modify_instruction/<%= @the_instruction.id %>"  method="post" >
      <div>
        <label for="step_1_action_box">
          Step 1 action
        </label>

        <input type="text" id="step_1_action_box" name="query_step_1_action" value="<%= @the_instruction.step_1_action %>">
      </div>

      <div>
        <label for="step_1_weight_box">
          Step 1 weight
        </label>

        <input type="text" id="step_1_weight_box" name="query_step_1_weight" value="<%= @the_instruction.step_1_weight %>">
      </div>

      <div>
        <label for="step_1_time_box">
          Step 1 time
        </label>

        <input type="text" id="step_1_time_box" name="query_step_1_time" value="<%= @the_instruction.step_1_time %>">
      </div>

      <div>
        <label for="step_2_action_box">
          Step 2 action
        </label>

        <input type="text" id="step_2_action_box" name="query_step_2_action" value="<%= @the_instruction.step_2_action %>">
      </div>

      <div>
        <label for="step_2_weight_box">
          Step 2 weight
        </label>

        <input type="text" id="step_2_weight_box" name="query_step_2_weight" value="<%= @the_instruction.step_2_weight %>">
      </div>

      <div>
        <label for="step_2_time_box">
          Step 2 time
        </label>

        <input type="text" id="step_2_time_box" name="query_step_2_time" value="<%= @the_instruction.step_2_time %>">
      </div>

      <div>
        <label for="step_3_action_box">
          Step 3 action
        </label>

        <input type="text" id="step_3_action_box" name="query_step_3_action" value="<%= @the_instruction.step_3_action %>">
      </div>

      <div>
        <label for="step_3_weight_box">
          Step 3 weight
        </label>

        <input type="text" id="step_3_weight_box" name="query_step_3_weight" value="<%= @the_instruction.step_3_weight %>">
      </div>

      <div>
        <label for="step_3_time_box">
          Step 3 time
        </label>

        <input type="text" id="step_3_time_box" name="query_step_3_time" value="<%= @the_instruction.step_3_time %>">
      </div>

      <div>
        <label for="step_4_action_box">
          Step 4 action
        </label>

        <input type="text" id="step_4_action_box" name="query_step_4_action" value="<%= @the_instruction.step_4_action %>">
      </div>

      <div>
        <label for="step_4_weight_box">
          Step 4 weight
        </label>

        <input type="text" id="step_4_weight_box" name="query_step_4_weight" value="<%= @the_instruction.step_4_weight %>">
      </div>

      <div>
        <label for="step_4_time_box">
          Step 4 time
        </label>

        <input type="text" id="step_4_time_box" name="query_step_4_time" value="<%= @the_instruction.step_4_time %>">
      </div>

      <div>
        <label for="step_5_action_box">
          Step 5 action
        </label>

        <input type="text" id="step_5_action_box" name="query_step_5_action" value="<%= @the_instruction.step_5_action %>">
      </div>

      <div>
        <label for="step_5_weight_box">
          Step 5 weight
        </label>

        <input type="text" id="step_5_weight_box" name="query_step_5_weight" value="<%= @the_instruction.step_5_weight %>">
      </div>

      <div>
        <label for="step_5_time_box">
          Step 5 time
        </label>

        <input type="text" id="step_5_time_box" name="query_step_5_time" value="<%= @the_instruction.step_5_time %>">
      </div>

      <button>
        Update instruction
      </button>
    </form>
  </div>
</div>

<hr>
