<div>
  <div>
    <div class="display-4">
      <%= @the_roaster.name %> details
    </div>

    <div>
      <div>
        <button type="button" class="btn btn-link"><a href="/roasters">Go back</a></button>
      </div>

      <div>
        <button type="button" class="btn btn-link"><a href="/delete_roaster/<%= @the_roaster.id %>">Delete roaster</a></button>
      </div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <form action="/modify_roaster/<%= @the_roaster.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_roaster.name %>">
      </div>

      <button class="btn btn-primary">
        Update name
      </button>
    </form>
  </div>
</div>

<hr>
<h3>Beans from this roaster</h3>
<div>
    <table class="table">
      <thead class="thead-dark">  
        <tr>
          <th>Roaster</th>

          <th>Bean Name</th>

          <th>Roast Date</th>

          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @the_roaster.beans.each do |a_bean| %>
        <tr>
          <td><%= @the_roaster.name %></td>

          <td><%= a_bean.name %></td>

          <td><%= a_bean.roast_date.strftime("%m/%d/%Y") %></td>

          <td><a href="/beans/<%= a_bean.id %>">Show details</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>